@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  transition: all 200ms ease-in-out;
}

/* Base Styles */
body {
  background: #ece7e2;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background-color: #4a776619;
  padding: 10px 0;
}

.navBar > h1 {
  font-size: 24px;
}
.navBar > h1 > sup {
  font-weight: 400;
  font-size: 8px;
}
.navBar > span {
  color: #4a7766;
}
footer {
  display: grid;
  place-items: center;
  background-color: #4a776619;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: #4a7766;
}
.dName {
  font-weight: 500;
  background-color: #4a776644;
  color: #4a7766;
  border-radius: 4px;
  font-size: 13px;
  display: inline-block;
  padding: 0px 4px;
  margin: 0px 0;
}
.dDef {
  color: #8d8d8d;
  margin: 0 0 10px 0;
  font-size: 12px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 150px;
}
.card1 {
  /* padding: 2rem 4rem 1.5rem 4rem; */
  border-radius: 8px;
  /* box-shadow: 0 0 20px #0000002d; */
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  width: 350px;
  padding: 20px;
}
.card1 > .imgContent {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 > .imgContent img {
  width: 250px;
  height: auto;
}
.card1 > .imgContent img:hover {
  scale: 1.04;
  cursor: pointer;
}
.btn a {
  display: flex;
  text-decoration: none;
}

.btn a > button {
  flex-grow: 1;
  padding: 8px 0px;
    color: #252525;
    font-size: 13px;
    background: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    border: 1px solid #c8c8c8;
}
.btn a > button:hover {
  border: 1px solid #4a7766;
  background: #4a7766;
  color: #fff;
}
@media only screen and (max-width: 830px) {
  .card {
    margin: 20px 0;
    display: flex;
    flex-flow: column;
    gap: 0px;
  }
  .card1 {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 400px) {
  .card1 {
    padding: 2rem 1rem 1.5rem 1rem;
  }
  .card1 {
    width: 280px;
  }
  .card1 > .imgContent img {
    width: 200px;
  }
}
